.article-navigation {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    max-height: 500px; /* 初始最大高度 */
    overflow: hidden; /* 隐藏超出的内容 */
    
    position: fixed; /* 固定在屏幕上 */
    top: 80px; /* 距离屏幕顶部80px */
    left: 20px; /* 距离屏幕左边20px */
    width: 280px; /* 固定宽度 */
    z-index: 1000; /* 确保模块在最上层 */
}

.article-navigation.collapsed {
    max-height: 50px; /* 折叠时的最大高度 */
    opacity: 0.9; /* 折叠时降低不透明度 */
}

.article-navigation ul {
    list-style-type: none;
    padding: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.article-navigation.collapsed ul {
    opacity: 0;  /* 折叠时隐藏内容 */
    pointer-events: none; /* 禁止点击 */
}

.article-navigation ul h2, .article-navigation ul h3 {
    font-size: 14px;
    margin: 10px 0;
}

.article-navigation ul h3 {
    margin-left: 20px;
    font-size: 12px;
}

.toggleArea {
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.toggleArea:hover {
    background-color: #0056b3;
}

/* 高亮当前章节的样式 */
#toc a.active {
    color: blue;
    font-weight: bold;
}